#subtitulo2{
  font-family: Helvetica;
  text-align: center;
  height: 40px;
  font-size: 20px;
  color: #000;
}

form{
	padding: 60px;
	max-width: 400px;
	background-color: #b9cacc;
	margin : 0px auto;
}

/*form input, form textarea{*/
.otro{
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  color: #525c66;
  box-sizing: border-box;
}

.boton{
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	color: white;
}